// --- Etiquette Nouveau ---

.nouveau::before {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    content: "Nouveau";
    background: $tertiary-color;
    color: darken($tertiary-color, 48%);
    width: 5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}