html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes slidetop {
  from {
    transform: translatey(1.5rem);
    opacity: 0%;
  }
  to {
    transform: translatey(0);
    opacity: 100%;
  }
}
@keyframes rotate-check {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotate-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes mouvement-couleurs-lettres {
  0% {
    transform: translateX(0px);
  }
  14% {
    transform: translateX(-10px);
    color: red;
  }
  28% {
    transform: translateX(0px);
    color: orange;
  }
  42% {
    transform: translateX(10px);
    color: yellow;
  }
  56% {
    transform: translateX(0px);
    color: green;
  }
  70% {
    transform: translateX(-10px);
    color: blue;
  }
  84% {
    transform: translateX(0px);
    color: indigo;
  }
  98% {
    transform: translateX(10px);
    color: violet;
  }
  100% {
    transform: translateX(0px);
    color: transparent;
  }
}
.loader {
  position: fixed;
  content: "";
  width: 100%;
  height: 100vh;
  background: #fafafa;
  inset: 0;
  z-index: 1;
  display: grid;
  place-items: center;
  animation: out 3s forwards;
}
.loader::before {
  position: absolute;
  top: 150px;
  width: 100px;
  height: 100px;
  border-top: 5px solid #9356DC;
  border-bottom: 5px solid #9356DC;
  border-radius: 50%;
  content: "\f2e7";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 30px;
  color: #99E2D0;
  animation: rotate-loader 3s 1 linear both;
}
.loader::after {
  position: absolute;
  top: 165px;
  content: "";
  width: 70px;
  height: 70px;
  border-right: 5px solid #FF79DA;
  border-left: 5px solid #FF79DA;
  border-radius: 50%;
  animation: rotate-loader 5s 1 linear both reverse;
}
.loader .lettres {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250px;
}
.loader .lettres p {
  font-family: "Shrikhand";
  font-weight: 700;
  font-size: 28px;
  animation: mouvement-couleurs-lettres 3.4s infinite forwards;
}
.loader .lettres p:nth-child(1) {
  animation-delay: 200ms;
}
.loader .lettres p:nth-child(2) {
  animation-delay: 400ms;
}
.loader .lettres p:nth-child(3) {
  animation-delay: 600ms;
}
.loader .lettres p:nth-child(4) {
  animation-delay: 800ms;
}
.loader .lettres p:nth-child(5) {
  animation-delay: 1000ms;
}
.loader .lettres p:nth-child(6) {
  animation-delay: 1200ms;
}
.loader .lettres p:nth-child(7) {
  animation-delay: 1400ms;
}

body {
  font-family: "Roboto";
}

header h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 30px;
}

footer h4 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  line-height: 4.5rem;
}

.homepage .localisation p, .homepage .fonctionnement p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}
.homepage h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}
.homepage h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
}
.homepage .presentation p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
}
.homepage #restaurants p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
  line-height: 2rem;
}

.restaurant_page .menu h2 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
}
.restaurant_page .menu h3 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
}
.restaurant_page .menu h4 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
}
.restaurant_page .menu span {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
}

header {
  position: relative;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

footer {
  background-color: #363636;
  padding: 0 0 2rem 1.5rem;
  color: white;
}
footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
footer li {
  display: flex;
  align-items: center;
}
footer li a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: white;
}
footer li .lien_gras {
  font-weight: 500;
}
footer li .fa-utensils {
  margin-right: 1rem;
}
footer li .fa-handshake-angle {
  margin-right: 0.625rem;
}

.localisation {
  height: 3rem;
  text-align: center;
  background: #ebebeb;
  line-height: 3rem;
}
.localisation p::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f3c5";
  margin-right: 1rem;
}

.presentation {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.5rem;
  padding: 2.5rem 1.5rem 3.5rem 2rem;
}
.presentation a {
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  transition: all 0.6s;
}
.presentation a:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 3rem 1.25rem 4.25rem 2rem;
}
.fonctionnement ul {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  counter-reset: chiffre;
}
.fonctionnement ul li {
  position: relative;
  display: flex;
  padding: 2rem 2rem;
  background: whitesmoke;
  border-radius: 1.25rem;
  transition: all 0.6s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement ul li:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  background-color: #F5EDFF;
}
.fonctionnement ul li:hover i {
  color: #9356DC;
}
.fonctionnement ul li::before {
  counter-increment: chiffre 1;
  content: counter(chiffre);
  color: white;
  padding: 0.3rem 0.5rem;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-2.7rem, -50%);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
}
.fonctionnement i {
  color: hsl(0, 0%, 50%);
}
.fonctionnement .fa-mobile-screen-button {
  margin-right: 1.2rem;
}
.fonctionnement .fa-list-ul {
  margin-right: 1rem;
}
.fonctionnement .fa-store {
  margin-right: 0.875rem;
}

#restaurants {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 3.5rem 1.25rem 4rem 1.25rem;
  background: whitesmoke;
}
#restaurants .liste_cartes {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
#restaurants a {
  color: black;
}
#restaurants .carte_restaurant {
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  transition: all 0.6s;
}
#restaurants .carte_restaurant:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}
#restaurants .carte_restaurant img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
#restaurants .carte_restaurant .description_carte {
  padding: 0.75rem 0 0.25rem 0.75rem;
  background: white;
  border-radius: 0 0 1rem 1rem;
}
#restaurants .carte_restaurant .conteneur_coeur i {
  position: absolute;
  font-size: 1.5rem;
  bottom: 1.25rem;
  right: 1.25rem;
  transition: all 0.6s ease-in-out;
}
#restaurants .carte_restaurant .conteneur_coeur .coeur_plein {
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
}
#restaurants .carte_restaurant .conteneur_coeur:active .coeur_plein {
  opacity: 1;
}

@media (min-width: 768px) {
  header {
    height: 6rem;
    line-height: 6rem;
  }
  header h1 {
    font-family: "Shrikhand";
    font-weight: 400;
    font-size: 37px;
  }
  .presentation h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 40px;
  }
  .fonctionnement {
    padding: 3rem 8% 5rem 8%;
  }
  #restaurants .liste_cartes {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  #restaurants .liste_cartes .carte_restaurant {
    width: 47%;
  }
}
@media (min-width: 992px) {
  .fonctionnement ul {
    flex-direction: row;
    column-gap: 2rem;
  }
  .fonctionnement ul li {
    flex-grow: 1;
    white-space: nowrap;
  }
  #restaurants {
    padding: 0 8% 5rem 8%;
  }
  #restaurants .liste_cartes {
    flex-wrap: nowrap;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 4.5rem;
    padding: 0 7rem 0 0;
  }
  footer ul {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}
.nouveau::before {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  content: "Nouveau";
  background: #99E2D0;
  color: #1e6856;
  width: 5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.restaurant_page main {
  width: 100%;
  background: whitesmoke;
}
.restaurant_page main img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
}
.restaurant_page main .menu {
  position: relative;
  margin-top: -3.5rem;
  background: whitesmoke;
  border-radius: 2.5rem 2.5rem 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
  padding: 2rem 1rem 2.5rem 1rem;
}
.restaurant_page main .menu .conteneur_coeur {
  position: relative;
  width: 21rem;
}
.restaurant_page main .menu .conteneur_coeur i {
  position: absolute;
  font-size: 1.5rem;
  bottom: 0;
  right: 1rem;
  transition: all 0.6s ease-in-out;
}
.restaurant_page main .menu .conteneur_coeur .coeur_plein {
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
}
.restaurant_page main .menu .conteneur_coeur:active .coeur_plein {
  opacity: 1;
}

.section_menu {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  width: 100%;
}
.section_menu h3::after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 3px;
  background: #99E2D0;
  margin-top: 0.75rem;
}
.section_menu .intitule_plat {
  height: 4rem;
  background: white;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  animation: slidetop 1200ms both;
}
.section_menu .intitule_plat:nth-child(2) {
  animation-delay: 360ms;
}
.section_menu .intitule_plat:nth-child(3) {
  animation-delay: 540ms;
}
.section_menu .intitule_plat:nth-child(4) {
  animation-delay: 720ms;
}
.section_menu .intitule_plat:nth-child(5) {
  animation-delay: 900ms;
}
.section_menu .intitule_plat .description_carte {
  padding: 0.75rem 0 0.75rem 0.75rem;
  overflow: hidden;
}
.section_menu .intitule_plat .description_carte h4 {
  padding-bottom: 0.5rem;
}
.section_menu .intitule_plat .description_carte h4, .section_menu .intitule_plat .description_carte p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section_menu .intitule_plat span {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding: 1rem 1rem 1rem 0;
}
.section_menu .intitule_plat .check {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  width: 60px;
  margin-right: -60px;
  transition: all 0.6s ease-in-out;
}
.section_menu .intitule_plat .check i {
  color: #99E2D0;
  background: white;
  border-radius: 50%;
  font-size: 14px;
  padding: 0.2rem;
}
.section_menu .intitule_plat:hover .check {
  margin-right: 0;
}
.section_menu .intitule_plat:hover i {
  animation: rotate-check 0.8s;
}

.boite_commander {
  height: 6rem;
  position: relative;
}
.boite_commander a {
  color: white;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.6s;
}
.boite_commander a:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
}

@media (min-width: 768px) {
  .arrow::before {
    left: 4rem;
  }
  .restaurant_page main {
    background: white;
  }
  .restaurant_page main .menu {
    width: 70%;
    padding: 3rem 4rem 2.5rem 4rem;
    margin: -3.5rem auto 0 auto;
  }
}
@media (min-width: 992px) {
  .restaurant_page main img {
    height: 25rem;
  }
  .restaurant_page main .menu {
    padding: 3rem 13% 2.5rem 13%;
  }
  .boite_commander {
    width: 70%;
    height: 9rem;
    margin: 0 auto;
  }
  .boite_commander a {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.arrow::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f060";
  font-family: "Font Awesome 6 Free";
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(0, -50%);
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
}

/*# sourceMappingURL=style.css.map */
