.localisation {
    height: 3rem;
    text-align: center;
    background: lighten($theme-color, 42%);
    line-height: 3rem;
}

.presentation {
    background: lighten($theme-color, 46%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 1.5rem;
    padding: 2.5rem 1.5rem 3.5rem 2rem;
    & a {
        @include button-gradient(1.5rem);
        transition: all 0.6s;
        &:hover {
            opacity: 0.9;
            @include box-shadow-modif (0px, 4px, 10px, 0.45);
        }
    }
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 3rem 1.25rem 4.25rem 1.25rem;
    & ul {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        counter-reset: chiffre;
        & li {
            position: relative;
            display: flex;
            padding: 1.75rem 2rem;
            background: lighten($theme-color, 46%);
            border-radius: 1.25rem;
            transition: all 0.6s;
            &:hover {
                @include box-shadow-modif (0px, 4px, 15px, 0.15);
                background-color: #F5EDFF;
                i {
                    color: $primary-color;
                }
            }
            &::before {
                counter-increment: chiffre 1;
                content: counter(chiffre);
                color: lighten($theme-color, 100%);
                padding: 0.3rem 0.5rem;
                background-color: $primary-color;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-2.7rem, -50%);
                @include roboto-weight-size(500, 14)
            }
        }
    }
    i {
        color: $theme-color;
    }
    .fa-mobile-screen-button {
        @include margin-right-icone(1.2rem);
    }
    .fa-list-ul {
        @include margin-right-icone;
    }
    .fa-store {
        @include margin-right-icone(0.875rem);
    }
}

#restaurants {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 3.5rem 1.25rem 4rem 1.25rem;
    background: lighten($theme-color, 46%);
    & a {
        color: darken($theme-color, 50%);
    }
    & .carte_restaurant {
        position: relative;
        @include box-shadow-modif (0px, 4px, 15px, 0.1);
        border-radius: 1rem;
        transition: all 0.6s;
        &:hover {
            @include box-shadow-modif (0px, 4px, 15px, 0.20);
            opacity: 0.90;
        }
        & img {
            height: 174px;
            width: 100%;
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
        }
        & .description_carte {
            padding: 0.75rem 0 0.25rem 0.75rem;
            background: lighten($theme-color, 50%);
            border-radius: 0 0 1rem 1rem;
        }
        & .conteneur_coeur {
            & i {
                position: absolute;
                font-size: 1.5rem;
                bottom: 1.25rem;
                right: 1.25rem;
                transition: all 0.6s ease-in-out;
            }
            & .coeur_plein {
                background-image: linear-gradient(#FF79DA, #9356DC);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                opacity: 0;
            }
            &:active .coeur_plein {
                opacity: 1;
            }
        }
    }
}